@import "../../../../styles/colors.scss";

.stockItemWrap {
  height: 250px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  flex-basis: 48%;
  margin-bottom: 24px;
  box-shadow: 0px 1px 3px -1px $black;

  .stockContent {
    display: flex;
    flex-direction: row;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
      linear-gradient(to right, $white, $white);
    background-position: 0 0, 54 0;
    background-size: 54px 100%, 100% 100%;
    position: relative;

    .iconWrap {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    p {
      font-size: 18px;
      margin: 24px;
      align-self: center;
      flex-grow: 1;
    }
    .ano {
      font-weight: bold;
      color:azure;
      padding: 2px 0 2px 8px;
      border-radius: 5px;
      background-color: $primary;
    }
    .lucro {
      font-size: 18px;
      font-weight: bold;
      color: $valid;
    }
    .retorno {
      font-size: 18px;
      font-weight: bold;
      padding: 10px 5px;
      border-radius: 50%;
      color:azure;
      background-color: $max
    }
    .acronym {
      font-weight: bold;
      color:$primary;
    }
  }
  
  footer {
    background-color: $primary;
    line-height: 40px;
    text-transform: lowercase;
    text-align: center;
    border-radius: 0px 0px 8px 8px;

    &:hover {
      background-color: $primaryDark;
    }
    .link {
      text-decoration: none;
      font-weight: bold;
      color:$white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .stockItemWrap {
    flex-basis: 100%;
  }
}