$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #1c54b3;
$primaryDark: #194899;
$primaryLight: #2569df;
$error: #9c763f;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;